<table class="table">
  <thead>
  <tr>
    <th>Order #</th>
    <th>User</th>
    <th>Stripe Token</th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.user.email %></td>
      <td><%= order.customer_id %></td>
      <td><%= link_to 'Show', @order %></td>
    </tr>
  </tbody>
  <% end %>
</table>