<table class="table">
<thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
</thead>

<tbody>
<% @orders.each do |order| %>
    <tr>
    <td><%= image_tag order.sku.product.image_url, :size => "160x180" %></td>
    <td><%= order.sku.product.title %></td>
    <td><%= order.quantity %></td>
    <td><%= order.sku.product.price %></td>
    </tr>
</tbody>
<% end %>
</table>