// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.featured {
  h2{
    padding-bottom: 2em;
  }
  .glyphicon {
    font-size: 10em;
    padding-bottom: .5em;
  }

  .panel{
    background-color: rgba(180, 180, 180, 0.93);
  }
}
.navbar-nav{
  font-size: 1em;
  color: black;
}

.navbar-brand{
  font-size: 2em;
}

.navbar-header .logo {
  height: 70px;
}