// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listing {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
  min-height: 100px;

  .list_image {
    width: 150px;
    height: 200px;
  }
  .buttons {

  }
}
