<div class="row">
  <div class="panel panel-default col-md-4">
    <h2>Products</h2>
    <%= link_to content_tag(:span, nil, class: "glyphicon glyphicon-gift"), admin_products_path %>
  </div>
  <div class="panel panel-default col-md-4">
    <h2>Skus</h2>
    <%= link_to content_tag(:span, nil, class: "glyphicon glyphicon-tags"), admin_skus_path %>

  </div>
  <div class="panel panel-default col-md-4">
    <h2>Users</h2>
    <%= link_to content_tag(:span, nil, class: "glyphicon glyphicon-user"), admin_skus_path %>

  </div>
</div>