<table class="table">
  <thead>
    <tr>
      <th>User Email</th>
      <th>Is Admin?</th>
      <th>Customer Id</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.admin %></td>
      <td><%= user.customer_id %></td>
    </tr>
  </tbody>
  <% end %>
</table>